@import "tailwindcss";

html {
  color: #fff;
  background-color: #000;
  font-family: CircularBook, sans-serif;
}

@font-face {
  font-family: "CircularBook";
  src: url("/fonts/CircularSpotifyText-Book.otf") format("opentype");
}

@font-face {
  font-family: "CircularBold";
  src: url("/fonts/CircularSpotifyText-Bold.otf") format("opentype");
  font-weight: bold;
}
